body {
  color: white;
  background-color: grey;
}

h1 {
  text-align: center;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-message {
  text-align: center;
}